* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFAF1;
}

h1 {
    margin-top: 2em;
    font-weight: 700;
}

h2 {
    font-weight: 500;
}

h3 {
    font-weight: 300;
}

p {
    font-weight: 500;
}

h4 {
    font-weight: 500;
}

.input-container {
    display: flex;
    width: 50%;
    justify-content: space-around;
    margin-bottom: 3em;
}

input {
    height: 5em; 
    width: 25%;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Fredoka', sans-serif;
}

.Rock-card {
    background-color: #FF714B;
    outline: none;
    color: #fff;
    border: none;
    box-shadow: 0px 8px 8px #DDCEB5;
}

.Rock-card:active {
    background-color: #C2583B;
}

.Paper-card {
    background-color: #4DA1D1;
    outline: none;
    color: #FFF;
    border: none;
    box-shadow: 0px 8px 8px #DDCEB5;
}

.Paper-card:active {
    background-color: #4386AD;
}

.Scissor-card {
    background-color: #66CF76;
    outline: none;
    color: #FFF;
    border: none;
    box-shadow: 0px 8px 8px #DDCEB5;
}

.Scissor-card:active {
    background-color: #3DAA4E;
}

.result {
    display: flex;
    width: 80%;
    height: 50%;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.scores-container {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3em;
}

.result-container {
    height: 60%;
}

#game-round-result {
    margin-bottom: 1em;
}

.restart {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#start-again {
    background-color: #fff;
    width: 12em;
    height: 3em;
    outline: none;
    color: #000;
    border: none;
    box-shadow: 0px 8px 8px #DDCEB5;
}

#start-again:active {
    background-color: #CFCFCF;
}
